.header{
    height: 80px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-item-list{
    display: flex;
    align-items: center;
   
}
.header-item-list li{
    list-style: none;
    margin-left: 20px;
    
}
.header-item-list li a{
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    text-decoration: none;
}

